<!DOCTYPE html>
<html>
<head>
	<%- include ("../partials/header.ejs")%>
</head>
<div class="form-container">
<form id="login" action="/login" method="get"  class="contentWrapper">
	<input type="submit" class="btn btn-primary" value="Login" onfocus="onclick">
</form>
<form id="register" action="/register" method="get"  class="contentWrapper">
	<input type="submit" class="btn btn-primary" value="Register" onfocus="onclick">
</form>
</div>